body {
    background-color: #f0f8ff;}

div {

    width: 75% min width:500px;
    border-style: solid;
    border-width: 1px;
    border-color: #333333;
    box-shadow: 5px 10px #888888;
    padding:10px;
    margin: 1em;
    padding:0.5em;
    background-color: white ;

}

#one {color:blue;
font-weight:bold;
padding-left: 0.5em ;
padding-right: 0.5em;
background-color: #fdfd96 ;


}
#two{ color:yellowgreen;
font-weight:bold;
padding-left: 0.5em ;
padding-right: 0.5em;
background-color: #fdca96 ;



}
</style>